.chess-board{
  width: 700px;
  height: 700px;
  border: 10px solid black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr); 
}
.chess-board div:hover{
  background-color: #a98cff;
}
.black{
  background-color: gray;
}
.white{
  background-color: white;
}
img{
  width: 100%;
}
.hover{
  background-color: #e9b5f0;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}